<form action="/lists" method="post">
        <dl>
            <dt>
                <label for="list_name">Enter the name for new list:</label>
            </dt>
            <dd>
                <input name="list_name" placeholder="List Name" type="text" value="">
            </dd>
        </dl>
        <fieldset class="actions">
            <input type="submit" value="Save baby">
            <a href="/lists">Cancel</a>
        </fieldset>
</form>